.books{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
    margin-bottom: 3rem;
}
.book{
    width: 11rem;
    /* height: 13rem; */
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
}
.img{
    width: 100%;
    height: 8rem;
}
.title,.book-author{
    margin: 0.8rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.rating{
    font-weight: bold;
}