body {
  background-color: #ea7750;
}
.homepage {
    padding: 2rem 0 0 2cqi;
}
.homepage-subbackground {
  display: flex;
  background-color: white;
  border-radius: 0.4rem;
  height: 100vh;
}
.side-bar {
  flex: 2%;
  background-color: white;
  height: 100%;
  border-radius: 0.4rem;
}
.homepage-main {
  flex: 70%;
  background-color: #f3f3f7;
  height: 100%;
}
